node_modules

.env

.output
.vinxi
.tanstack
dist/

coverage
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/e2e/.clerk
/e2e/.auth

.env.local

/e2e/auth/.clerk
.nyc_output

.DS_Store